
/* Con esto salta de línea por cada div*/
.fila {
    clear: both;
}

.casilla img {
    width: 70px;
    height: 70px;
    padding: 15px;
}

/* Con esto se ponen las cajas una al lado del a otra automaticamente*/
.casilla {
    width: 100px;
    height: 100px;
    float: left;
}

/* Colores pa las cajas */
.blanca {
    background: #eeeed2;
}

.verde {
    background: #769656;
}

.centrar-tablero {
    margin: 0 auto; /* Lo centra */
    width: 800px; /* Este es el ancho q tiene el tablero xq tiene 8 casillas*/
}